In [3]:
# Import Dependencies
import pandas as pd
from splinter import Browser
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

In [4]:
# Choose the executable path to driver 
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [5]:
gunviolence2019_csv = "gunviolence2019_db.csv"
gunviolence2018_csv = "gunviolence2018_db.csv"
gunviolence2017_csv = "gunviolence2017_db.csv"
gunviolence2016_csv = "gunviolence2016_db.csv"
gunviolence2015_csv = "gunviolence2015_db.csv"

In [6]:
gunviolence2019_df = pd.read_csv(gunviolence2019_csv)
gunviolence2018_df = pd.read_csv(gunviolence2018_csv)
gunviolence2017_df = pd.read_csv(gunviolence2017_csv)
gunviolence2016_df = pd.read_csv(gunviolence2016_csv)
gunviolence2015_df = pd.read_csv(gunviolence2015_csv)

In [7]:
gunviolence2019_df.head()

,Unnamed: 0,Incident ID,Incident Date,year,State,City Or County,Address,Killed,Injured,Operations
0,1,1506655,September 18,2019,Indiana,Fort Wayne,4000 block of Reed St,0,3,View Incident\nView Source
1,2,1506387,September 18,2019,Pennsylvania,Pittsburgh,Cordell Pl,0,1,View Incident\nView Source
2,3,1506592,September 18,2019,Alabama,Scottsboro,102 E Laurel St,0,1,View Incident\nView Source
3,4,1506556,September 18,2019,Texas,San Antonio,La Barca Dr,0,1,View Incident\nView Source
4,5,1506539,September 18,2019,Michigan,Marshall,I-94,0,0,View Incident\nView Source

In [8]:
gunviolence2018_df.head()

,Unnamed: 0,Incident ID,Incident Date,year,State,City Or County,Address,Killed,Injured,Operations
0,1,1290435,December 31,2018,Nebraska,Omaha,2500 block of Emmet St,0,0,View Incident\nView Source
1,2,1291253,December 31,2018,West Virginia,Worthington,Michael Hill Rd,0,0,View Incident\nView Source
2,3,1289028,December 31,2018,Oklahoma,Oklahoma City,N Rockwell Ave and W Wilshire Blvd,0,1,View Incident\nView Source
3,4,1290413,December 31,2018,Nevada,Las Vegas,N E St and Jefferson Ave,0,1,View Incident\nView Source
4,5,1290400,December 31,2018,Vermont,Burlington,N Champlain St and Manhattan Dr,0,0,View Incident\nView Source

In [9]:
gunviolence2017_df.head()

,Unnamed: 0,Incident ID,Incident Date,year,State,City Or County,Address,Killed,Injured,Operations
0,1,1021362,December 31,2017,Texas,Kilgore,1910 Meadowgreen Dr,1,0,View Incident\nView Source
1,2,1017727,December 31,2017,Tennessee,Nashville,I 65 and Trinity Lane,1,1,View Incident\nView Source
2,3,1018010,December 31,2017,Alabama,Huntsville,1409 Lancewood Dr NW,0,1,View Incident\nView Source
3,4,1023659,December 31,2017,North Carolina,Elizabethtown,968 Jacobs Loop Rd,0,1,View Incident\nView Source
4,5,1020322,December 31,2017,Illinois,Urbana,1365 N Lincoln Ave,0,1,View Incident\nView Source

In [10]:
gunviolence2016_df.head()

,Unnamed: 0,Incident ID,Incident Date,year,State,City Or County,Address,Killed,Injured,Operations
0,1,739539,December 31,2016,Virginia,Newport News,Vernon Place,0,1,View Incident\nView Source
1,2,739764,December 31,2016,Tennessee,Knoxville,Highland View Drive,1,0,View Incident\nView Source
2,3,738899,December 31,2016,Florida,Pensacola,3 Talladega Trail,1,1,View Incident\nView Source
3,4,741817,December 31,2016,Pennsylvania,Lancaster,100 block of Chesapeake St,0,0,View Incident\nView Source
4,5,739284,December 31,2016,Maryland,Baltimore,4600 block of Reistertown Rd,0,1,View Incident\nView Source

In [11]:
gunviolence2015_df.head()

,Unnamed: 0,Incident ID,Incident Date,year,State,City Or County,Address,Killed,Injured,Operations
0,1,480589,December 31,2015,New York,New York (Manhattan),Sherman Street,0,1,View Incident\nView Source
1,2,476987,December 31,2015,North Carolina,Durham,433 Pilot Street,0,2,View Incident\nView Source
2,3,476984,December 31,2015,Missouri,Kansas City,E. 37th Street and Blue Ridge Cutoff,0,0,View Incident\nView Source
3,4,476351,December 31,2015,Massachusetts,New Bedford,Pleasant Street,1,0,View Incident\nView Source
4,5,476966,December 31,2015,North Carolina,Charlotte,Westpark Drive,0,2,View Incident\nView Source

In [12]:
gunviolence_df = pd.concat([gunviolence2015_df, gunviolence2016_df, gunviolence2017_df, gunviolence2018_df, gunviolence2019_df], join='inner').sort_index()
gunviolence_df

,Unnamed: 0,Incident ID,Incident Date,year,State,City Or County,Address,Killed,Injured,Operations
0,1,480589,December 31,2015,New York,New York (Manhattan),Sherman Street,0,1,View Incident\nView Source
0,1,1506655,September 18,2019,Indiana,Fort Wayne,4000 block of Reed St,0,3,View Incident\nView Source
0,1,739539,December 31,2016,Virginia,Newport News,Vernon Place,0,1,View Incident\nView Source
0,1,1290435,December 31,2018,Nebraska,Omaha,2500 block of Emmet St,0,0,View Incident\nView Source
0,1,1021362,December 31,2017,Texas,Kilgore,1910 Meadowgreen Dr,1,0,View Incident\nView Source
1,2,1506387,September 18,2019,Pennsylvania,Pittsburgh,Cordell Pl,0,1,View Incident\nView Source
1,2,1291253,December 31,2018,West Virginia,Worthington,Michael Hill Rd,0,0,View Incident\nView Source
1,2,1017727,December 31,2017,Tennessee,Nashville,I 65 and Trinity Lane,1,1,View Incident\nView Source
1,2,739764,December 31,2016,Tennessee,Knoxville,Highland View Drive,1,0,View Incident\nView Source
1,2,476987,December 31,2015,North Carolina,Durham,433 Pilot Street,0,2,View Incident\nView Source
2,3,1289028,December 31,2018,Oklahoma,Oklahoma City,N Rockwell Ave and W Wilshire Blvd,0,1,View Incident\nView Source
2,3,476984,December 31,2015,Missouri,Kansas City,E. 37th Street and Blue Ridge Cutoff,0,0,View Incident\nView Source
2,3,1506592,September 18,2019,Alabama,Scottsboro,102 E Laurel St,0,1,View Incident\nView Source
2,3,738899,December 31,2016,Florida,Pensacola,3 Talladega Trail,1,1,View Incident\nView Source
2,3,1018010,December 31,2017,Alabama,Huntsville,1409 Lancewood Dr NW,0,1,View Incident\nView Source
3,4,1506556,September 18,2019,Texas,San Antonio,La Barca Dr,0,1,View Incident\nView Source
3,4,741817,December 31,2016,Pennsylvania,Lancaster,100 block of Chesapeake St,0,0,View Incident\nView Source
3,4,1023659,December 31,2017,North Carolina,Elizabethtown,968 Jacobs Loop Rd,0,1,View Incident\nView Source
3,4,1290413,December 31,2018,Nevada,Las Vegas,N E St and Jefferson Ave,0,1,View Incident\nView Source
3,4,476351,December 31,2015,Massachusetts,New Bedford,Pleasant Street,1,0,View Incident\nView Source
4,5,1290400,December 31,2018,Vermont,Burlington,N Champlain St and Manhattan Dr,0,0,View Incident\nView Source
4,5,1506539,September 18,2019,Michigan,Marshall,I-94,0,0,View Incident\nView Source
4,5,476966,December 31,2015,North Carolina,Charlotte,Westpark Drive,0,2,View Incident\nView Source
4,5,1020322,December 31,2017,Illinois,Urbana,1365 N Lincoln Ave,0,1,View Incident\nView Source
4,5,739284,December 31,2016,Maryland,Baltimore,4600 block of Reistertown Rd,0,1,View Incident\nView Source
5,6,1017993,December 31,2017,Georgia,Atlanta,Glenwood Ave,0,1,View Incident\nView Source
5,6,1295009,December 31,2018,Missouri,Saint Louis (Overland),NaN,0,0,View Incident\nView Source
5,6,1207480,December 31,2016,New Hampshire,Hooksett,NaN,0,0,View Incident\nView Source
5,6,476499,December 31,2015,Tennessee,Chattanooga,2700 block 6th Avenue,0,1,View Incident\nView Source
5,6,1506412,September 18,2019,Maryland,Pasadena,1400 block of Orr Ct,1,0,View Incident\nView Source
...,...,...,...,...,...,...,...,...,...,...
419,436,486899,December 28,2015,Utah,Orem,1757 Village Lane,2,0,View Incident\nView Source
419,436,738108,December 29,2016,Florida,Spring Hill (Weeki Wachee),9227 Lake Drive,0,0,View Incident\nView Source
419,436,1505078,September 14,2019,Illinois,Rockford,4200 block of Auburn St,0,1,View Incident\nView Source
419,436,1368779,December 29,2018,Connecticut,Meriden,E Main St,0,0,View Incident\nView Source
419,436,1017233,December 29,2017,Colorado,Colorado Springs,2000 block of Carmel Dr,0,1,View Incident\nView Source
420,437,474146,December 28,2015,Tennessee,Memphis,6800 block of Birch Run Lane,0,1,View Incident\nView Source
420,437,1503990,September 14,2019,Pennsylvania,Philadelphia,500 block of S 57th St,0,2,View Incident\nView Source
420,437,1289150,December 29,2018,California,Oxnard,300 block of Campbell Way,0,1,View Incident\nView Source
420,437,737806,December 29,2016,Indiana,Ligonier,11405 N State Rd 5,0,0,View Incident\nView Source
420,437,1016736,December 29,2017,California,Fontana,11200 block of Poplar Ave,2,0,View Incident\nView Source
421,438,1503985,September 14,2019,Tennessee,Dyersburg,600 block of Lake Rd,2,0,View Incident\nView Source
421,438,1289148,December 29,2018,California,Oxnard,1200 block of North H St,0,1,View Incident\nView Source
421,438,1016264,December 28,2017,Texas,Houston,5901 Selinsky Rd,1,2,View Incident\nView Source
421,438,474165,December 28,2015,Washington,Spokane,Highway 195 and Excelsior Road,0,1,View Incident\nView Source
421,438,738037,December 29,2016,North Carolina,Greenville,Arlington Blvd and South Memorial Drive,0,1,View Incident\nView Source
422,439,475032,December 28,2015,Ohio,Cleveland,East 131st Street and Union Avenue,0,0,View Incident\nView Source
422,439,1015944,December 28,2017,North Carolina,Durham,1200 Block of Wabash St,1,0,View Incident\nView Source
422,439,739093,December 29,2016,Kentucky,Hopkinsville,Boxwood Dr and Westwood Dr,0,0,View Incident\nView Source
422,439,1287687,December 29,2018,North Carolina,Durham,3300 block of Guess Rd,0,1,View Incident\nView Source
422,439,1504415,September 14,2019,Colorado,Grand Junction,337 S Redlands Rd,0,0,View Incident\nView Source
423,440,1505989,September 14,2019,Tennessee,Memphis,Cooper St and Felix Ave,0,0,View Incident\nView Source
423,440,737127,December 29,2016,Indiana,Indianapolis,1400 block of West 34th Street,0,1,View Incident\nView Source
423,440,475030,December 28,2015,Virginia,Dinwiddie (county),6100 block of Duncan Road,0,1,View Incident\nView Source
423,440,1289129,December 29,2018,California,Auburn,100 block of Diamond St,0,0,View Incident\nView Source
423,440,1016731,December 28,2017,California,South Gate,9800 block of Bowman Ave,1,0,View Incident\nView Source
424,441,1016490,December 28,2017,Missouri,Saint Louis,1700 block of Dick Gregory Pl,1,0,View Incident\nView Source
424,441,745004,December 29,2016,Virginia,Norfolk,300 block of Mahone Avenue,0,0,View Incident\nView Source
424,441,483440,December 28,2015,Minnesota,Sturgeon Lake,NaN,0,0,View Incident\nView Source
424,441,1287761,December 29,2018,California,Anderson,2700 block of Barney Rd,0,0,View Incident\nView Source
424,441,1504409,September 14,2019,Iowa,Waterloo,E 4th St and E Parker St,0,0,View Incident\nView Source

In [13]:
gunviolence_df.to_csv("gunviolence_db.csv")

In [14]:
# Create engine using the `gunviolence_db.sqlite` database file
engine = create_engine("sqlite:///../project2_team4/gunviolence_db.sqlite")

In [15]:
gunviolence_df.to_sql("gunviolence_db", con=engine)