In [1]:
# Ignore SQLITE warnings related to Decimal numbers in the Chinook database
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

In [3]:
# Create an engine for the gva1.sqlite database
engine = create_engine("sqlite:///gva1.sqlite", echo=False)

In [4]:
# Create the inspector and connect it to the engine
inspector = inspect(engine)

In [5]:
# Collect the names of tables within the database
inspector.get_table_names()

['gunviolence_db', 'gv1']

In [6]:
# Using the inspector to print the column names within the 'Salaries' table and its types
columns = inspector.get_columns('gv1')
for column in columns:
    print(column["name"], column["type"])

index BIGINT
incident_id BIGINT
date DATETIME
state TEXT
city_or_county TEXT
address TEXT
killed BIGINT
injured BIGINT
district FLOAT
latitude FLOAT
longitude FLOAT

In [7]:
# Using the inspector to print the column names within the 'Salaries' table and its types
columns2 = inspector.get_columns('gunviolence_db')
for column in columns2:
    print(column["name"], column["type"])

index BIGINT
0 TEXT

In [11]:
engine = create_engine("sqlite:///gva1.sqlite")
df_gun_violence = pd.read_sql('select * from gv1', engine)
print((df_gun_violence))

         index  incident_id                        date                 state  \
0            0       461105  2013-01-01 00:00:00.000000          Pennsylvania
1            1       460726  2013-01-01 00:00:00.000000            California
2            2       478855  2013-01-01 00:00:00.000000                  Ohio
3            3       478925  2013-01-05 00:00:00.000000              Colorado
4            4       478959  2013-01-07 00:00:00.000000        North Carolina
5            5       478948  2013-01-07 00:00:00.000000              Oklahoma
6            6       479363  2013-01-19 00:00:00.000000            New Mexico
7            7       479374  2013-01-21 00:00:00.000000             Louisiana
8            8       479389  2013-01-21 00:00:00.000000            California
9            9       492151  2013-01-23 00:00:00.000000              Maryland
10          10       491674  2013-01-23 00:00:00.000000             Tennessee
11          11       479413  2013-01-25 00:00:00.000000              Missouri
12          12       479561  2013-01-26 00:00:00.000000             Louisiana
13          13       479554  2013-01-26 00:00:00.000000  District of Columbia
14          14       479460  2013-01-26 00:00:00.000000                  Ohio
15          15       479573  2013-02-02 00:00:00.000000             Tennessee
16          16       479580  2013-02-03 00:00:00.000000            California
17          17       479592  2013-02-07 00:00:00.000000              Illinois
18          18       479603  2013-02-09 00:00:00.000000             Louisiana
19          19       480311  2013-02-11 00:00:00.000000            California
20          20       480327  2013-02-11 00:00:00.000000              Delaware
21          21       480344  2013-02-12 00:00:00.000000                  Utah
22          22       480358  2013-02-19 00:00:00.000000            California
23          23       480383  2013-02-21 00:00:00.000000              Oklahoma
24          24       480401  2013-02-22 00:00:00.000000              Michigan
25          25       480407  2013-02-23 00:00:00.000000            California
26          26       480443  2013-02-24 00:00:00.000000               Georgia
27          27       481186  2013-03-02 00:00:00.000000             Louisiana
28          28       481198  2013-03-03 00:00:00.000000               Georgia
29          29       481208  2013-03-03 00:00:00.000000              Michigan
...        ...          ...                         ...                   ...
211649  239632      1082187  2018-03-31 00:00:00.000000        North Carolina
211650  239634      1082201  2018-03-31 00:00:00.000000                 Texas
211651  239635      1081662  2018-03-31 00:00:00.000000               Florida
211652  239636      1082154  2018-03-31 00:00:00.000000               Indiana
211653  239638      1082096  2018-03-31 00:00:00.000000            California
211654  239639      1082607  2018-03-31 00:00:00.000000            California
211655  239640      1081786  2018-03-31 00:00:00.000000         Massachusetts
211656  239641      1082413  2018-03-31 00:00:00.000000             Tennessee
211657  239642      1082426  2018-03-31 00:00:00.000000              New York
211658  239643      1081925  2018-03-31 00:00:00.000000              New York
211659  239645      1081976  2018-03-31 00:00:00.000000              New York
211660  239646      1082455  2018-03-31 00:00:00.000000          Pennsylvania
211661  239650      1082266  2018-03-31 00:00:00.000000            California
211662  239651      1082483  2018-03-31 00:00:00.000000                 Texas
211663  239652      1082486  2018-03-31 00:00:00.000000                 Texas
211664  239653      1083121  2018-03-31 00:00:00.000000                Nevada
211665  239654      1081947  2018-03-31 00:00:00.000000                Nevada
211666  239655      1082089  2018-03-31 00:00:00.000000            California
211667  239656      1081901  2018-03-31 00:00:00.000000              New York
211668  239657      1082394  2018-03-31 00:00:00.000000            California
211669  239659      1082057  2018-03-31 00:00:00.000000               Florida
211670  239660      1082091  2018-03-31 00:00:00.000000            California
211671  239663      1082197  2018-03-31 00:00:00.000000              Oklahoma
211672  239664      1082023  2018-03-31 00:00:00.000000              Missouri
211673  239667      1082234  2018-03-31 00:00:00.000000             Tennessee
211674  239671      1082061  2018-03-31 00:00:00.000000            Washington
211675  239673      1083139  2018-03-31 00:00:00.000000             Louisiana
211676  239674      1083151  2018-03-31 00:00:00.000000             Louisiana
211677  239675      1082514  2018-03-31 00:00:00.000000                 Texas
211678  239676      1081940  2018-03-31 00:00:00.000000                 Maine

                  city_or_county  \
0                     Mckeesport
1                      Hawthorne
2                         Lorain
3                         Aurora
4                     Greensboro
5                          Tulsa
6                    Albuquerque
7                    New Orleans
8                      Brentwood
9                      Baltimore
10                   Chattanooga
11                   Saint Louis
12                     Charenton
13                    Washington
14                   Springfield
15                       Memphis
16                 Yuba (county)
17                       Chicago
18                   New Orleans
19                       Vallejo
20                    Wilmington
21                       Midvale
22               Orange (county)
23                         Tulsa
24                  Grand Rapids
25                     Lancaster
26                         Macon
27                    Shreveport
28                      Moultrie
29              Saginaw (county)
...                          ...
211649                 Charlotte
211650                  Pasadena
211651               Tallahassee
211652              Indianapolis
211653                 Earlimart
211654                   Salinas
211655                    Boston
211656                    Martin
211657                 Uniondale
211658               Lindenhurst
211659                  Brooklyn
211660                  Duquesne
211661                  Palmdale
211662             Wichita Falls
211663                    Dallas
211664                      Reno
211665                      Reno
211666                 San Diego
211667                 Rochester
211668                   Shafter
211669                   Orlando
211670                  Stockton
211671                   Guthrie
211672                    Festus
211673                   Memphis
211674  Spokane (Spokane Valley)
211675              Natchitoches
211676                    Gretna
211677                   Houston
211678              Norridgewock

                                                  address  killed  injured  \
0               1506 Versailles Avenue and Coursin Street       0        4
1                            13500 block of Cerise Avenue       1        3
2                                   1776 East 28th Street       1        3
3                        16000 block of East Ithaca Place       4        0
4                               307 Mourning Dove Terrace       2        2
5                              6000 block of South Owasso       4        0
6                                          2806 Long Lane       5        0
7       LaSalle Street and Martin Luther King Jr. Boul...       0        5
8                              1100 block of Breton Drive       0        4
9                            1500 block of W. Fayette St.       1        6
10                                         1501 Dodds Ave       1        3
11                    W Florissant Ave and Riverview Blvd       1        3
12                           1000 block of Flat Town Road       2        3
13                            2403 Benning Road Northeast       0        5
14                                   601 West Main Street       1        3
15                                      2514 Mount Moriah       0        5
16                            5800 block of Poplar Avenue       1        3
17                         2500 block of East 75th Street       0        4
18                            400 block of Bourbon Street       0        4
19                           800 block of Humboldt Street       1        4
20                                  500 North King Street       3        2
21                  8286 Adams Street and 450 West Street       4        1
22                                         Katella Avenue       4        3
23                   1200 block of North 89th East Avenue       1        3
24                                1447 Grandville Ave. SW       0        4
25                          43145 Business Center Parkway       0        4
26                  2800 block of Mercer University Drive       0        8
27                     7000 block of Burlingame Boulevard       1        3
28                            224 Second Street Northwest       2        2
29                                         4030 Dixie Hwy       0        4
...                                                   ...     ...      ...
211649                                  900 E Arrowood Rd       0        1
211650                                    920 Houston Ave       1        1
211651                        Basin St and W Tennessee St       1        0
211652                                  2085 Waterford Pl       0        2
211653                              700 block of S Oak St       1        0
211654                                          Harris Ct       0        0
211655                                       130 Evans St       1        0
211656                                  160 Old Fulton Rd       0        0
211657                                        Harrison St       0        0
211658                                    105 Sunrise Hwy       1        1
211659                         1200 block of Flatbush Ave       1        0
211660                          400 block of Hamilton Ave       1        0
211661                           37900 block of 47th St E       1        0
211662                               2300 block of 8th St       0        1
211663                     1200 block of Whispering Trail       0        1
211664                                  1400 E Peckham Ln       1        0
211665                                        Wedekind Rd       1        0
211666                                    8660 Miramar Rd       0        0
211667                            100 block of Warren Ave       1        0
211668                          300 block of Atlantic Ave       0        0
211669              South Kirkman Road and Raleigh Street       0        3
211670                            1700 block of Harbor St       2        0
211671                             500 block of Walnut St       1        0
211672                4200 block of Hillsboro Hematite Rd       0        1
211673                              2900 block of Wingate       0        1
211674                   12600 block of N Willow Crest Ln       0        0
211675                                     247 Keyser Ave       1        0
211676                          1300 block of Cook Street       0        1
211677                             12630 Ashford Point Dr       1        0
211678                                   434 Skowhegan Rd       2        0

        district  latitude  longitude
0           14.0   40.3467   -79.8559
1           43.0   33.9090  -118.3330
2            9.0   41.4455   -82.1377
3            6.0   39.6518  -104.8020
4            6.0   36.1140   -79.9569
5            1.0   36.2405   -95.9768
6            1.0   34.9791  -106.7160
7            2.0   29.9435   -90.0836
8            9.0   37.9656  -121.7180
9            7.0   39.2899   -76.6412
10           3.0   35.0221   -85.2697
11           1.0   38.7067   -90.2494
12           3.0   29.8816   -91.5251
13           1.0   38.8978   -76.9717
14           8.0   39.9252   -83.8218
15           9.0   35.0803   -89.8871
16           3.0   39.1236  -121.5830
17           2.0   41.7592   -87.5628
18           2.0   29.9563   -90.0676
19           5.0   38.1072  -122.2280
20           1.0   39.7407   -75.5499
21           4.0   40.6008  -111.9030
22          46.0   33.8031  -117.9430
23           1.0   36.1722   -95.8778
24           3.0   42.9371   -85.6853
25          25.0   34.6666  -118.1310
26           2.0   32.8260   -83.6704
27           4.0   32.4420   -93.7726
28           8.0   31.1824   -83.7912
29           5.0   43.3944   -83.9082
...          ...       ...        ...
211649      12.0   35.1372   -80.8772
211650      29.0   29.6872   -95.2024
211651       2.0   30.4490   -84.3068
211652       7.0   39.8850   -86.1967
211653      21.0   35.8791  -119.2650
211654      20.0   36.6191  -121.6360
211655       7.0   42.2812   -71.0836
211656       8.0   36.3500   -88.8510
211657       4.0   40.6887   -73.5990
211658       2.0   40.7039   -73.3743
211659       9.0   40.6409   -73.9565
211660      14.0   40.3740   -79.8505
211661      25.0   34.5713  -118.0450
211662      13.0   33.9052   -98.5151
211663      30.0   32.6772   -96.8059
211664       2.0   39.4832  -119.7800
211665       2.0   39.5537  -119.7760
211666      52.0   32.8936  -117.1360
211667      25.0   43.1076   -77.5617
211668      21.0   35.5019  -119.2830
211669      10.0   28.5279   -81.4594
211670       9.0   37.9478  -121.3140
211671       3.0   35.8739   -97.4163
211672       8.0   38.2074   -90.4990
211673       9.0   35.2045   -89.9872
211674       5.0   47.6638  -117.2350
211675       4.0   31.7537   -93.0836
211676       2.0   29.9239   -90.0442
211677       9.0   29.7201   -95.6110
211678       2.0   44.7293   -69.7691

[211679 rows x 11 columns]

In [12]:
# Declare a Base using `automap_base()`
Base = automap_base()

In [13]:
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [14]:
# Print all of the classes mapped to the Base
Base.classes.keys()

[]

In [13]:
# #Import libraries
# from sqlalchemy import create_engine, Column, Integer, String, Date
# from sqlalchemy.ext.declarative import declarative_base
# Base = declarative_base()

In [14]:
# # Define our pet table
# class GVA(Base):
#     __tablename__ = 'GVA'
#     index = Column(Integer, primary_key=True)
#     incident_id = Column(Integer)
#     date = Column(Date)
#     age = Column(Integer)
#     state = Column(String)
#     city_or_county = Column(String)
#     address = Column(String)
#     killed = Column(Integer)
#     injured = Column(Integer)
#     district = Column(Integer)
#     latitude = Column(Integer)
#     longitude = Column(Integer)

In [18]:
# # Right now, this table only exists in python and not in the actual database. If you want informational text about which tables you have and what the column names are, use:
# Base.metadata.tables

immutabledict({'GVA': Table('GVA', MetaData(bind=None), Column('index', Integer(), table=<GVA>, primary_key=True, nullable=False), Column('incident_id', Integer(), table=<GVA>), Column('date', Date(), table=<GVA>), Column('age', Integer(), table=<GVA>), Column('state', String(), table=<GVA>), Column('city_or_county', String(), table=<GVA>), Column('address', String(), table=<GVA>), Column('killed', Integer(), table=<GVA>), Column('injured', Integer(), table=<GVA>), Column('district', Integer(), table=<GVA>), Column('latitude', Integer(), table=<GVA>), Column('longitude', Integer(), table=<GVA>), schema=None)})

In [16]:
# # To push the objects made and query the server we use a Session object
# from sqlalchemy.orm import Session
# session = Session(bind=engine)

In [19]:
# # Create our database engine
# engine = create_engine('sqlite:///gva1.sqlite')

In [20]:
# # This is where we create our tables in the database
# Base.metadata.create_all(engine)

In [21]:
# # The ORM’s “handle” to the database is the Session.
# from sqlalchemy.orm import Session
# session = Session(engine)

In [22]:
# # The data hasn't been added yet so if you try to fetch the new data, you won't get any response
# engine.execute('select * from GVA').fetchall()

[]