In [1]:
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

In [2]:
file_to_load = "Test/db/gva_full.csv"

# Read File and store into Pandas data frame
gva_old = pd.read_csv(file_to_load, parse_dates=[1])
gva_old.head()

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,...,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,...,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0

In [3]:
list(gva_old.columns.values)

['incident_id',
 'date',
 'state',
 'city_or_county',
 'address',
 'n_killed',
 'n_injured',
 'incident_url',
 'source_url',
 'incident_url_fields_missing',
 'congressional_district',
 'gun_stolen',
 'gun_type',
 'incident_characteristics',
 'latitude',
 'location_description',
 'longitude',
 'n_guns_involved',
 'notes',
 'participant_age',
 'participant_age_group',
 'participant_gender',
 'participant_name',
 'participant_relationship',
 'participant_status',
 'participant_type',
 'sources',
 'state_house_district',
 'state_senate_district']

In [4]:
gva1 = gva_old.drop(columns=['incident_url',
                             'source_url',
                             'incident_url_fields_missing',
                             'sources',
                             'gun_stolen',
                             'gun_type',
                             'notes',
                             'incident_characteristics',
                             'location_description',
                             'n_guns_involved',
                             'participant_age',
                             'participant_age_group',
                             'participant_gender',
                             'participant_name',
                             'participant_relationship',
                             'participant_status',
                             'participant_type',
                             'state_house_district',
                             'state_senate_district'])
gva1.head()

,incident_id,date,state,city_or_county,address,n_killed,n_injured,congressional_district,latitude,longitude
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,14.0,40.3467,-79.8559
1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,43.0,33.9090,-118.3330
2,478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,9.0,41.4455,-82.1377
3,478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,6.0,39.6518,-104.8020
4,478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,6.0,36.1140,-79.9569

In [5]:
gva1.tail()

,incident_id,date,state,city_or_county,address,n_killed,n_injured,congressional_district,latitude,longitude
239672,1083142,2018-03-31,Louisiana,Rayne,North Riceland Road and Highway 90,0,0,NaN,NaN,NaN
239673,1083139,2018-03-31,Louisiana,Natchitoches,247 Keyser Ave,1,0,4.0,31.7537,-93.0836
239674,1083151,2018-03-31,Louisiana,Gretna,1300 block of Cook Street,0,1,2.0,29.9239,-90.0442
239675,1082514,2018-03-31,Texas,Houston,12630 Ashford Point Dr,1,0,9.0,29.7201,-95.6110
239676,1081940,2018-03-31,Maine,Norridgewock,434 Skowhegan Rd,2,0,2.0,44.7293,-69.7691

In [6]:
gva1.describe()

,incident_id,n_killed,n_injured,congressional_district,latitude,longitude
count,2.396770e+05,239677.000000,239677.000000,227733.000000,231754.000000,231754.000000
mean,5.593343e+05,0.252290,0.494007,8.001265,37.546598,-89.338348
std,2.931287e+05,0.521779,0.729952,8.480835,5.130763,14.359546
min,9.211400e+04,0.000000,0.000000,0.000000,19.111400,-171.429000
25%,3.085450e+05,0.000000,0.000000,2.000000,33.903400,-94.158725
50%,5.435870e+05,0.000000,0.000000,5.000000,38.570600,-86.249600
75%,8.172280e+05,0.000000,1.000000,10.000000,41.437375,-80.048625
max,1.083472e+06,50.000000,53.000000,53.000000,71.336800,97.433100

In [7]:
gva1 = gva1.dropna()
gva1.rename(columns={'n_killed': 'killed', 'n_injured': 'injured', 'congressional_district': 'district'}, inplace=True)
gva1.head()

,incident_id,date,state,city_or_county,address,killed,injured,district,latitude,longitude
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,14.0,40.3467,-79.8559
1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,43.0,33.9090,-118.3330
2,478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,9.0,41.4455,-82.1377
3,478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,6.0,39.6518,-104.8020
4,478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,6.0,36.1140,-79.9569

In [8]:
gva1.describe()

,incident_id,killed,injured,district,latitude,longitude
count,2.116790e+05,211679.000000,211679.000000,211679.000000,211679.000000,211679.000000
mean,5.459648e+05,0.255590,0.512158,8.064116,37.494623,-89.198216
std,2.887412e+05,0.527894,0.743730,8.535917,5.021357,14.160051
min,9.211400e+04,0.000000,0.000000,0.000000,19.111400,-165.586000
25%,2.995635e+05,0.000000,0.000000,2.000000,33.909600,-93.767300
50%,5.251900e+05,0.000000,0.000000,5.000000,38.548900,-86.179000
75%,8.012030e+05,0.000000,1.000000,10.000000,41.404400,-80.037350
max,1.083466e+06,50.000000,53.000000,53.000000,71.336800,-67.271100

In [9]:
gva1.dtypes

incident_id                int64
date              datetime64[ns]
state                     object
city_or_county            object
address                   object
killed                     int64
injured                    int64
district                 float64
latitude                 float64
longitude                float64
dtype: object

In [10]:
gva1.to_csv('Test/db/gva1.csv',index=False)

In [11]:
# Create engine using the `gunviolence_db.sqlite` database file
engine = create_engine("sqlite:///../Raza_branch/gunviolence_db.sqlite")

In [12]:
gva1.to_sql("gv1", con=engine)

In [13]:
gva1.to_json('gva1.json',orient='index',date_format='iso')